<nav class="navbar navbar-expand-md navbar-light bg-faded" style="background-color: #e3f2fd">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to "Overtime", root_path, class: "navbar-brand #{active?(root_path) } " %>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <%= link_to "Add Post", new_post_path, class: "nav-link" %>
      </li>
    </ul>
    <span class="navbar-text">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
        <% link_to "Admin Dashboard", root_path, class: "nav-link dropdown-toggle", id: "navbarDropdownMenuLink", :'data-toggle'=> "dropdown", :"aria-haspopup"=> true, :"aria-expanded"=> false  %>
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Setting
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Setting", edit_user_registration_path, method: :delete, class: "dropdown-item" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
      </ul>
    </span>
  </div>
</nav>
